*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: yellow;
    height: 250px;
    width: 450px;

    /* padding: 20px 10px 8px 5px ; */
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 5px;

    border:  10px solid black;
}


section{
    background-color: red;
    height: 200px;
    width: 350px;


    /* margin: 20px 10px 8px 10px; */

    margin-top: 20px;
    margin-left: 40px;
}


section > h2{

    /* border: 2px solid blue; */
    padding-bottom: 10px;

    /* margin-bottom: 10px; */
}

section > p{
    /* border: 2px solid white; */
}

header > button{
    padding: 10px 20px;
    margin-top: 20px;
}

.card1{
    height: 200px;
    width: 300px;
    background-color: blue;

    margin-bottom: 20px;
    margin-left: 20px;


    padding: 40px;
    border: 20px solid black;
}
.card2{
    height: 200px;
    width: 300px;
    background-color: green;
    margin-left: 20px;

    /* border: 3px solid black; */

    border-width: 4px;
    border-style: solid;
    border-color: orange;
    border-radius: 15px;
}


.card3{
    height: 200px;
    width: 300px;
    background-color: red;
    margin: auto;

    border-top: 7px solid black;
    border-right: 7px dotted green;
    border-bottom: 7px double yellow;
    border-left: 7px dashed blue;

    border-radius: 16px;
}