*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 100px;
    background-color: black;
    width: 100%;
    position: fixed;
    top:0px;

    /* z-index: 1; */
}

header{
    height: 300px;
    background: linear-gradient(red,yellow);
    margin-top: 100px;
}

main{
    height: 300px;
    background: linear-gradient(skyblue,white);
}

section{
    height: 300px;
    background: linear-gradient(green,black);
}
article{
    height: 300px;
    background: linear-gradient(brown,gray);
}
aside{
    height: 300px;
    background: linear-gradient(pink,lightblue);
}

footer{
    height: 100px;
    background-color: black;
}

header > button{
    padding: 20px 50px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(36, 36, 247);

    color:white;
    letter-spacing: 1.4px;
    border: none;


    position: fixed;
    right: 0px;
    

}
main > button{
    padding: 20px 50px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(55, 192, 55);
    color:white;
    letter-spacing: 1.4px;
    border: none;


    position: sticky;
    top:150px;
}

header > h1{
    text-align: center;
    color:white;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    text-shadow: 4px 3px 3px black;
}