
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 500px;
    width: 700px;
    border: 3px solid black;
    background-color: rgb(238, 131, 0);

    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* flex-direction: column; */


    /* justify-content:space-evenly; */
    justify-content: center;
    align-items: center;
    gap:20px;
    border-radius: 20px;
}

.container > .box{
    height: 80px;
    width: 90px;
    border: 2px solid white;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.container > .box:nth-child(1)
{
    background-color: lightcoral;
}
.container > .box:nth-child(2)
{
    background-color: lightblue;
}
.container > .box:nth-child(3)
{
    background-color: lightgreen;
}
.container > .box:nth-child(4)
{
    background-color: lightgray;
}
.container > .box:nth-child(5)
{
    background-color: lightslategray;
}


.outer{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}