*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: red;
    position: relative;
}

.upper{
    height: 50vh;
    background-color: blue;
}

.lower{
    height: 50vh;
    background-color: skyblue;
}

.center{
    height: 80%;
    width: 80%;
    background-color: white;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 25px;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.7);

    display: flex;
}

.center > .left{
    flex-basis: 45%;
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.left > form{
    background-color: white;
    width: 350px;
    padding: 10px 20px;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.7);
    border-radius: 10px;
}

form > input{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

form > label{
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin-bottom: 10px;
}

form > button{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.3px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #0064E0;
    color:white;
}

form > button:hover{
    background-color: #0354b6;;
}

.center > .right{
    flex-basis: 55%;
    /* background-color: yellow; */

    border-left: 1px solid #ccc;

    padding-inline:20px ;
}

.right > img{
    height: 60%;
    width: 100%;
    /* border: 3px solid black; */

    object-fit: cover;
    object-position: top;
}

.right > h1{
    margin-top: 10px;
    text-align: center;
}

.right > p{
    margin-top: 10px;
    margin-bottom: 20px;
   
}

footer{
    display: flex;
    justify-content: space-around;
}

footer > .line{
    height: 5px;
    width: 120px;
    background: linear-gradient(to right,blue,black);
    border-radius: 5px;
}