
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 100px;
    background-color: brown;
    color:white;
    padding-right: 30px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav > ul{
    display: flex;
    gap:20px;  
}

nav > ul > li{
    font-size: 19px;
    font-weight: bold;
    list-style: none;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
}

main{
    height: 220px;
    background-color: #121420;
    color:white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}


section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7293a0;
    height: calc(100vh - 320px);
}

section > .card{
    height: 200px;
    width: 300px;
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.7);

    overflow: hidden;
}

.card > img{
    height: 50%;
    width: 100%;
}

.card > h2{
    text-align: center;
    margin-bottom: 10px;
}

.card > p{
    text-align: center;
}