
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.upper{
    height: 50vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper > .box1{
    height: 150px;
    width: 150px;
    background-color: yellow;

    /* transition: all 2s linear 1s; */

    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 0.3s;
}

.upper > .box1:hover{
    border-radius: 50%;
    background-color: red;
}


.lower{
  height: 50vh;
  display: flex;   
  justify-content: center;
  align-items: center;
}

.lower > .box2{
    height: 150px;
    width: 150px;
    background-color: crimson;
    transition: transform 1s ease-in;
}

.lower > .box2:hover{
    /* transform: rotate(360deg); */

    /* transform: scale(1.5); */

    /* transform: translate(200px,0); */
    /* transform: translate(-200px,0); */
    /* transform: translate(0,-80px); */

    /* transform: translate(-100px,80px); */


    /* transform: translateY(100px); */
    /* transform: translateX(100px); */

    transform: skew(15deg);

}