*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.outer{
    background-color: red;
    height: 100vh;
    /* width: 50%; */

    font-size: 2em;
   
}

.outer > h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color:white;
    text-shadow: 2px 2px 3px black;
}

.outer > .card
{
    height: 450px;
    width: 500px;
    border: 3px solid black;
    background-color: yellow;
    margin: auto;

    font-size: 2em;
}

.outer > .card > .box{

    height: 50%;
    width: 50%;
    background-color: green;
    margin: auto;
    font-size: 3rem;
}