*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    display: flex;
}

.right{
    flex-basis: 50%;
    border-top-left-radius:70px ;
    border-bottom-left-radius:70px ;
    background: linear-gradient(to top right,blue,white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
}

h1{
    font-size: 50px;
    color:white;
    text-shadow:  3px 4px 5px rgba(0,0,0,0.7);;
    text-transform: capitalize;
}

form{
    width: 350px;
    background-color: #fefefe;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow:  3px 4px 5px rgba(0,0,0,0.7);
}

form > input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.7);
}
form > button{
    width: 100%;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border:none;
    border-radius: 10px;
    letter-spacing: 1.3px;
    background-color: #0064E0;
    color:white;
    text-shadow:  3px 4px 5px rgba(0,0,0,0.7);
    cursor: pointer;
    
}

form > button:hover{
    background-color: #386296;
}
.left{
    flex-basis: 50%;
    /* background: linear-gradient(to top right,skyblue,white); */
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 60%;
}